doctype html
html
    head
        title="Music in Common by Gede Wirayuda"
        link(rel="stylesheet", href="/css/style.css", type='text/css')
        link(rel="stylesheet", href="/css/bootstrap.css", type='text/css')
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
    body
        block header
            .container.mt-1-px-10
                nav.navbar.navbar-expand-lg.navbar-light.mx-5
                    a(href="/").p-2.navbar-brand Music in Common
        block content
            div.container-fluid
                div.container-xxl
                    if reqCondition
                        .container.mb-3
                            h1 Matched Tracks
                            - var matchedTracksArray
                            p=`You have ${matchedTracksArray.length} songs in common!`
                            table.table.striped
                                thead
                                    tr
                                        th(scope="col")
                                        th(scope="col") Song
                                        th(scope="col") Artist
                                tbody
                                    for matchedTrack in matchedTracksArray
                                        tr
                                            td
                                                img(src=`${matchedTrack.album.images[2].url}`, alt="album cover")
                                            td 
                                                a(href=`${matchedTrack.external_urls.spotify}`)=matchedTrack.name
                    else
                        .container
                            p Enter you and your friend's Spotify ID and see what songs you have in common!
                            form.form-horizontal
                                .form-group.mb-3
                                    label Spotify ID:
                                    input(type="text", name="spotify_user1").form-control
                                .form-group.mb-3
                                    label Spotify ID:
                                    input(type="text", name="spotify_user2").form-control
                                .form-group.mb-3
                                    input(type="submit", value="Submit").btn.btn-primary
    block footer
            footer.mt-auto#footer-container
                div.container-fluid
                    div.container-xxl.mt-5.mb-5
                        p.text-light Copyright © Gede Wirayuda | 2022
                        div.row.text-center
                            div.col.mt-5
                                a(href="https://twitter.com/Gede_M8")
                                    img(src="/assets/svg/twitter.svg", alt="")#social-logos
                            div.col.mt-5
                                a(href="https://linkedin.com/in/gede-w")
                                    img(src="/assets/svg/linkedin.svg", alt="")#social-logos                    
                            div.col.mt-5
                                a(href="https://github.com/gedewir")
                                    img(src="/assets/svg/github.svg", alt="")#social-logos